<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>303109357992-f6pdlon2so6ke7a6g6sk201fg2jmjvqf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.303109357992-f6pdlon2so6ke7a6g6sk201fg2jmjvqf</string>
	<key>API_KEY</key>
	<string>AIzaSyAmexX1MjkCCjCxxzIeQaEwsS6uQU1nLt8</string>
	<key>GCM_SENDER_ID</key>
	<string>303109357992</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ashishddd.firebasefinal</string>
	<key>PROJECT_ID</key>
	<string>chat-app-su</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-su.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:303109357992:ios:391ab8dac45e8e7a6f5d9d</string>
	<key>DATABASE_URL</key>
	<string>https://chat-app-su.firebaseio.com</string>
</dict>
</plist>